<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security 
    http://www.springframework.org/schema/security/spring-security.xsd">
  
	<http authentication-manager-ref="authManager">
		<form-login login-page="/login.htm" authentication-failure-url="/login.htm" login-processing-url="/login.htm"/>
		<logout/>
		<csrf/>
        <intercept-url pattern="/login.htm" access="permitAll"/>
        <intercept-url pattern="/resources/**" access="permitAll"/>
        <intercept-url pattern="/**" access="authenticated"/>
    </http>
    
    <authentication-manager id="authManager">
    	<authentication-provider>
    		<jdbc-user-service data-source-ref="dataSource" role-prefix="none" 
    		users-by-username-query="select nombre,contrasenia,habilitado from clinica.usuario where nombre = ?"
    		authorities-by-username-query="select nombre,id_rol from clinica.usuario where nombre = ?"/>
    	</authentication-provider>
    </authentication-manager>

</beans:beans>